<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">

                <div class="jumbotron">
                    <h1><%- title %></h1>
                    <p>Welcome to REIMS App</p>
                    <div class="citymap" id="map">

                    </div>
                </div>

            </div>
            <div class="col-sm-4">

                <div class="well">
                    <h3>Business Analytics Sidebar</h3>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
<script type="text/javascript">
mapboxgl.accessToken = 'pk.eyJ1IjoiY3BhcmFkemF5aSIsImEiOiJjaW9lbnhqa3UwMDNndnBqN2ZwaDRvYjQ1In0.0iXnCQ1SnwtgB9wGh77pew';

// do the map stuff here
var map = new mapboxgl.Map({
  container: 'map',
  // style: 'mapbox://styles/mapbox/streets-v9',
style: 'http://osm-liberty.lukasmartinelli.ch/osm-liberty.json',
  center: [29.798011779785156, -19.45113496179399],
  zoom: 6,
  attributionControl: false
});

</script>
</html>
