<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="javascripts/geojson.min.js"></script>

</head>

<head>



<body>
  <header>
      <% include ../partials/header %>
  </header>
  <main>
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron">
          <div id='map'></div>

        </div>

      </div>

      <div class="col-sm-4">

          <div class="well">
              <h3>Business Analytics Sidebar</h3>
          </div>

      </div>

    </div>
  </main>


<footer>
  <% include ../partials/footer %>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
<script>

  var mapCadastralData = {};
  var mapCitiesData = {};

  function getMapCitiesData () {
    return axios.get('/api/cities')
  }
  function getCadastralData () {
    return axios.get('/api/cadastre')
  }

  axios.all([getMapCitiesData(),getCadastralData()])
  .then(axios.spread(function(cities,cadastre){
    mapCitiesData = cities.data.data[0]
    mapCadastralData = cadastre.data.data[0]
  }))
  .catch(function (err){
    console.log(err)
  })

  mapboxgl.accessToken = 'pk.eyJ1IjoiY3BhcmFkemF5aSIsImEiOiJjaW9lbnhqa3UwMDNndnBqN2ZwaDRvYjQ1In0.0iXnCQ1SnwtgB9wGh77pew';

  var bounds = [[30.00, -18.22],
              [30.26, -18.03]];
  // do the map stuff here
  var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v9',
      center: [30.13, -18.125],
      maxBounds: bounds,
      zoom: 9,
      attributionControl: false
  });

  //var mapcitiesData = citiesdatadb[0];

  map.on('load', function() {

      // Add our vector tile source: World wide
      // airports provided by Natural Earth
      map.addSource('cities', {
          "type": "geojson",
          "data": mapCitiesData
        });

        map.addSource('cadastre', {
            "type": "geojson",
            "data": mapCadastralData
          });

      map.addLayer({
        "id": "city",
        "type": "fill",
        "source": "cities",
        'layout': {},
        'paint': {
          'fill-color': '#088',
          'fill-opacity': 0.8
        }
      });

      map.addLayer({
        'id': 'cadastre',
        'type': 'fill',
        'source': 'cadastre',
        'layout': {},
        'paint': {
            'fill-color': 'sienna',
            'fill-opacity': 0.5,
            "fill-outline-color": "white"
        }
    });
  });

</script>

</body>
</html>
