body {
   margin:0;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


    map {
      position:relative; top:0; bottom:0; height:450px; width:100%;
    }
